.login-main {
    
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 80%;
    max-width: 300px;
    background-color: #ffffff21;
    border-radius: 10px;
	box-shadow: 0 0 40px #08071099;
	padding: 20px 35px;
}

.login-head {
    font-size: 32px;
	font-weight: 500;
	line-height: 42px;
	text-align: center;
    color: aliceblue;
}

.field-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    margin-top: 30px;
}

.required-div {
    display: flex;
    justify-content: space-between;
}

.login-labels {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.field-div input {
	border: 2px solid #ffffff00;
	height: 50px;
	background-color: #ffffff12;
	border-radius: 5px;
    color: #FFF;
	padding: 0 10px;
	margin-top: 8px;
	font-size: 14px;
	font-weight: 300;
}

.field-div input:focus {
    outline: none;
	border: 2px solid #ffffff1a;
}

.login-button {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	color: #080710;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
    border: none;
}

.login-button:hover {
	background-color: #dbd4d4;
}

.required {
	display: flex;
	align-items: last baseline;
	color: #ff0000;
	font-size: 13px;
	font-weight: 400;
}

.loading {
	margin-top: 40px;
	width: 100%;
	height: 50px;
	background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 5px;
    margin-bottom: 20px;
}

.error {
	margin-top: 40px;
	height: 50px;
	width: 100%;
	background-color: #ffffff;
	color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 14px;
    border-radius: 5px;
    margin-bottom: 20px;
	border: none;
}

.register-button-div {
	color: #ffffff;
	font-size: 13px;
	margin: 5px 0;
}

.login-signup-button {
	color: #00c3ff;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.signin-button {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 8px 15px;
    border-radius: 5%;
    border: none;
    color: #d4d4d4;
    background: #42424e;
    box-shadow: 2px 2px 2px #2a2a32, -2px -2px 2px #5a5a6a;
    margin: 10px;
	font-size: 17px;
	font-weight: 700;
	cursor: pointer;
}